<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IT16302 - Demo CRUD</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
</head>
<body ng-app="demo_crud">
    <div ng-controller="form_controller" class="container">
        <form name="form_sv">
            <div class="mt-2 row">
                <label class="col-2" for="fullname">Họ tên</label>
                <div class="col-10">
                    <input
                        ng-model-options="{ updateOn: 'default', debounce: 1000 }"
                        ng-model="sv.fullname"
                        class="form-control"
                        type="text"
                        name="fullname"
                        id="fullname"
                        required
                        autocomplete="off"/>
                    <small ng-hide="form_sv.email.$untouched || form_sv.fullname.$valid" class="text-danger">
                        Không được để trống
                    </small>
                </div>
            </div>
            <div class="mt-2 row">
                <label class="col-2" for="email">Email</label>
                <div class="col-10">
                    <div class="input-group">
                        <input
                            ng-model="sv.email"
                            class="form-control"
                            type="email"
                            name="email"
                            id="email"
                            autocomplete="off"
                            required />
                        <span class="input-group-text">@fpt.edu.vn</span>
                    </div>

                    <div
                        ng-hide="form_sv.email.$untouched || form_sv.email.$valid"
                        class="text-danger">
                        <small ng-show="form_sv.email.$error.required">
                            Không được để trống
                        </small>
                        <small ng-show="form_sv.email.$error.email">
                            Không đúng định dạng email
                        </small>
                    </div>
                </div>
            </div>
            <div class="mt-2 row">
                <label class="col-2" for="password">Password</label>
                <div class="col-10">
                    <input ng-model="sv.password" class="form-control" type="password" name="password" id="password" />
                </div>
            </div>
            <div class="mt-2 row">
                <label class="col-2" for="avatar">Ảnh đại diện</label>
                <div class="col-10">
                    <input class="form-control" type="file" name="avatar" id="avatar" />
                </div>
            </div>
            <div class="mt-2 row">
                <label class="col-2" for="fullname">Chuyên ngành</label>
                <div class="col-10">
                    <select
                        class="form-select"
                        ng-model="sv.chuyen_nganh"
                        name="chuyen_nganh"
                        id="chuyen_nganh"
                        check-chuyen-nganh
                        required >
                        <option selected disabled>Chọn chuyên ngành</option>
                        <option
                            ng-repeat="nganh in ds_chuyen_nganh"
                            value="{{ nganh.ma }}">{{ nganh.ten }}</option>
                    </select>

                    <div
                        ng-hide="form_sv.chuyen_nganh.$untouched || form_sv.chuyen_nganh.$valid" class="text-danger">
                        <small ng-show="form_sv.chuyen_nganh.$error.required">
                            Không được để trống
                        </small>

                        <small ng-show="form_sv.chuyen_nganh.$error.check_chuyen_nganh">
                            Không hợp lệ
                        </small>
                    </div>

                    <!-- <select class="form-select" name="chuyen_nganh" id="chuyen_nganh"
                        ng-model="sv.chuyen_nganh"
                        ng-options="nganh.ten for nganh in ds_chuyen_nganh track by nganh.ma">
                    </select> -->
                </div>
            </div>
            <div class="mt-2 row">
                <label class="col-2" for="fullname">Giới tính</label>
                <div class="col-10 row">
                    <div class="col-2">
                        <input type="radio" ng-model="sv.gioi_tinh" value="1"
                            ng-checked="sv.gioi_tinh == 1"
                            name="gioi_tinh" id="gt_nam" />
                        <label for="gt_nam">Nam</label>
                    </div>
                    <div class="col-2">
                        <input type="radio" ng-model="sv.gioi_tinh" value="0"
                            ng-checked="sv.gioi_tinh != 1"
                            name="gioi_tinh" id="gt_nu" />
                        <label for="gt_nu">Nữ</label>
                    </div>
                </div>
            </div>
            <div class="mt-2 row">
                <button class="btn btn-primary col-2">Thêm mới</button>
            </div>
        </form>
    </div>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angularjs.min.js"></script>
    <script>
        const app = angular.module("demo_crud", []);

        function formController($scope) {
            $scope.sv = {
                fullname: "",
                email: "",
                password: "",
                avatar: null,
                chuyen_nganh: "",
                gioi_tinh: 1,
            };

            $scope.ds_chuyen_nganh = [
                { ma: "UDPM", ten: "Ứng dụng phần mềm" },
                { ma: "TKTW", ten: "Thiết kế trang web" },
                { ma: "LTMT", ten: "Lập trình máy tính" },
            ];
        }

        app.controller("form_controller", formController);

        // camelCase
        app.directive("checkChuyenNganh", function () {
            return {
                require: 'ngModel',
                link: function (scope, element, attr, mCtrl) {
                    const fnValidate = function (value) {
                        let checkValid = false;

                        for (let i = 0; i<scope.ds_chuyen_nganh.length; i++) {
                            if (scope.ds_chuyen_nganh[i].ma == value) {
                                checkValid = true;
                            }
                        }

                        mCtrl.$setValidity("check_chuyen_nganh", checkValid);

                        return value;
                    }

                    mCtrl.$parsers.push(fnValidate);
                }
            };
        });
    </script>
</body>
</html>
